import React from 'react';
import PropTypes from 'prop-types';
import Bench from './bench/Bench';
import styles from './Table.css';

const Table = ({ className, guests, onClick }) => (
    <div className={ styles.table }
        onClick={ onClick }>
        <Bench
            verticalAlignment="top"
            horizontalAlignment="left"
            isTaken={ guests > 0 } />
        <Bench
            verticalAlignment="top"
            horizontalAlignment="right"
            isTaken={ guests > 1 } />
        <Bench
            verticalAlignment="bottom"
            horizontalAlignment="left"
            isTaken={ guests > 2 } />
        <Bench
            verticalAlignment="bottom"
            horizontalAlignment="right"
            isTaken={ guests > 3 } />
    </div>
);

Table.propTypes = {
    className: PropTypes.string,
    guests: PropTypes.number,
    onClick: PropTypes.func,
};

export default Table;
