// Usage, on Banner.js: 
import MobileDetection from '...';
...
class Banner extends Component {
    render () {
        return ( <MobileDetection>
            { (isMobile) => (
                <div className={ isMobile ? 'mobile' : 'desktop' }>
                    .... 
                </div>
            )}
        </MobileDetection>
        );
    }
}

