const MyComponent extends React.Component {
    render() {
        const { className } = this.props;
        const mainClassName = ['main', 'wrapper', className].join(' ');

        return (
            <div className={ mainClassName }>
                ...
            </div>
       );
    }
}
