import styles from './MyComponent.css';
import classnames from 'classnames';

const MyComponent extends React.Component {
  render() {
    const { className } = this.props;
    const myClassName = classnames(styles.main, styles.wrapper, className);

    return (
        <div className={ myClassName }>
            ...
        </div>
    );
  }
}
